.Header {
    height: 100%;
    font-size: 20px;
    /* Center Vertical: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1{
    margin-left: 5%;
    font-size: 40px;
}